{% extends 'base.html' %}

{% block content %}

{% if error %}

{{ error }}
<br />
<br />

{% endif %}

<h1>Sign Up!</h1>

<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}
Username:
<br/>
<input type="text"  id="username" name="username" />
<br />
Password:
<br />
<input type="password"  id="password1" name="password1" />
<br />
Confirm  Password:
<br />
<input type="password"  id="password2" name="password2" />
<br />

<input class="btn btn-primary" type="submit" value="Sign Up!" />


</form>

{% endblock %}
